
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporlar Dosyası</h1>
<br />
<br />
<a href="/Admin/PdfReport/CustomerReport" class="btn btn-outline-info">Kullanıcı Rotaları Pdf Raporu</a>

